:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  background-color: rgb(0, 0, 0); 
}

.outer-container {
  background-color: rgb(28, 163, 89); 
}

.inner-container {
  padding: 20px;
  border-radius: 10px;
}

.card {
  background-color: black; 
  color: white; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  width: 100%; 
  height: 60%; 
  object-fit: cover; 
}

.card-body {
  padding: 10px;
}

.card-title, .btn-primary {
  color: white;
}

.btn-primary {
  align-self: center; 
}

@media (max-width: 575.98px) {
  .row-cols-1 .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card-img-top {
    height: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .row-cols-sm-2 .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .card-img-top {
    height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .row-cols-md-3 .col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .card-img-top {
    height: 300px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .row-cols-lg-4 .col {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .card-img-top {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .row-cols-xl-5 .col {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .card-img-top {
    height: 400px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-left .navbar-brand {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.navbar-right .form-control {
  width: 200px;
}

.footer .social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer .social-icons a {
  color: white;
  margin-left: 15px;
  font-size: 1.5em;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: #646cff; 
}

.smaller-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: auto; 
}

/* scrolltotop.css */

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-button {
  background-color: #ff0606;
  color: rgb(8, 8, 8);
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.scroll-button:hover {
  background-color: #0056b3;
}

/* Info Border */

.info-line {
  border: none;
  border-top: 40px solid rgba(239, 255, 9, 0.979); 
  margin: 10px 0; 
}

